<div class='footer'>
    <div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gchatterjee/cit-gened-finder">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://engineering.cmu.edu/education/undergraduate-programs/curriculum/general-education/index.html">CIT's Official General Education Requirement Page</a>
          </li>
          <li class="nav-item">
            <span class='nav-link info'>|</span>
          </li>
          <li class="nav-item">
            <span class='nav-link info' href='https://gchatterjee.github.io/'>Gaurav Chatterjee</span>
          </li>
        </ul>
    </div>
</div>
