// Colors
$text-color: #3d4341;
$accent-color: #dd4940;
$background-color: #e1d9bc;
$link-color: #455f5d;
$theme-color: #9ed7a9;

// Font Stacks
$header-font: 'Playfair Display', serif;
$subheader-font: 'Habibi', serif;
$text-font: 'Noto Sans', sans-serif;

#root {
  background-color: $background-color;
  color: $text-color;
  font-family: $text-font;
}

.header {
  .title {
    font-family: $header-font;
  }
  h2 {
    font-family: $subheader-font;
  }
}

.nav_ {
  .nav {
    font-family: $text-font;
    display: flex;
  }
  .nav-item {
    display: flex;
    flex: 1;
  }
  .nav-link {
    display: flex;
    flex: 1;
    color: $link-color;
  }
  .nav-link:hover {
    background-color: $theme-color;
  }
  .nav-link.active {
    background-color: $link-color;
    color: $background-color;
  }

}

.table_ {
  margin-top: 2px;
  font-family: $text-font;
}

.table_ {
  .table {
    th {
      border-top: 2px solid $link-color;
      border-bottom: 2px solid $link-color;
    }
    td {
      border-top: 0px;
      border-bottom: 1px solid $link-color;
    }
  }
}

.footer {
  a {
    color: $link-color;
  }
}
