<div class='container-fluid'>
    <nav class='nav nav-pills nav-justified'>
        <a [ngClass]='ppcClass' routerLink='/ppc' (click)='onClick("ppc")'>People, Places, and Culture</a>
        <a [ngClass]='sdmClass' routerLink='/sdm' (click)='onClick("sdm")'>Social Analysis and Decision Making</a>
        <a [ngClass]='iiClass' routerLink='/ii' (click)='onClick("ii")'>Innovation and Internationalization</a>
        <a [ngClass]='weClass' routerLink='/we' (click)='onClick("we")'>Writing and Expression</a>
    </nav>
</div>
